.button {
    display: block;
    border: 1px solid #1f1e1e;
    border-radius: 4px;
    height: 37px;
    background: #1f1e1e;
    font-size: 12px; 
    text-transform: uppercase;
    text-align: center;
    padding: 0 25px;
    color: #fff;
    line-height: 102%;
    transition: .5s all;
    &:not(:disabled) {
        cursor: pointer;
    }
    &__centered {
        margin: 0 auto;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}